<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd   
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.game.gameController"></context:component-scan>

	<!-- Configure JDBC Connection -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> <property 
		name="url" value="jdbc:mysql://localhost:3306/gameSuggestion" /> <property 
		name="username" value="root" /> <property name="password" value="bridgeit" 
		/> </bean> -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="org.postgresql.Driver" /> <property 
		name="url" value="jdbc:postgresql://localhost:5432/SimilarGame" /> <property 
		name="username" value="postgres" /> <property name="password" value="postgres" 
		/> </bean> -->

	<!-- Configure Postgres Connection for heroku -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgres://ec2-79-125-24-188.eu-west-1.compute.amazonaws.com:5432/dab8mseqe8cft3?user=gouswxlsryuxnh&amp;password=NUhM1Zutu21cZThhAa-Nl6JEpg&amp;sslmode=require" />
		<property name="username" value="gouswxlsryuxnh" />
		<property name="password" value="NUhM1Zutu21cZThhAa-Nl6JEpg" />
	</bean>


	<!-- Configure Redis Connection -->
	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="redis-10179.c11.us-east-1-2.ec2.cloud.redislabs.com" p:port="10179" />
		
		
    <!--  <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
      p:connection-factory-ref="jeidsConnectionFactory" /> -->



	<!-- Configure Redis Template -->
	<!-- <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"> 
		<property name="connectionFactory" ref="redisConnectionFactory" /> </bean> -->
		
	<!-- 	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig" />
        <constructor-arg index="1" value="redis-10179.c11.us-east-1-2.ec2.cloud.redislabs.com" />
        <constructor-arg index="2" value="10179" />
        <constructor-arg index="3" value="Protocol.DEFAULT_TIMEOUT" />
        <constructor-arg index="4" value="211sjcet2027" />
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig" >
</bean> -->

	<!-- Configure Hibernate 4 Session Facotry -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.game.gameDto.GameInfo</value>
				<value>com.game.gameDto.SuggestInfo</value>
			</list>
		</property>
	</bean>

	<!-- class beans -->
	<bean id="gameDao" class="com.game.gameDao.GameSuggestionDaoImpl"></bean>
	<bean id="redisImpl" class="com.game.gameDao.RedisImpl"></bean>
</beans>